[globals]
; F3 magic'leri
RELEASE="FALSE"
CACHE="FALSE"
GUI="gui/"
FONTS="fonts/"
IMPORTS="inc/"
LAYOUTS="../layouts/"
E404="layout.htm"
TEMP="../tmp/"
AUTOLOAD="app/"
DEBUG="3"
dbg="TRUE"
extlink="window.open(this.href); return false;"

; Veritabanı
dbname="sim"
dbuser="sim"
dbpass="12345"

; default language
lang="tr_TR"

; Resim
uploaddir="upload/"

; dagitim: stable/test/?unstable
dagitim="unstable"
