body {
    font-family: Corbel, Arial, Helvetica, Helvetica Neue, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size:12px;
    margin:auto;
    padding:auto;
    color:#555;
    background:#f0f0f0;
    background:#EFEFEF;
    background:url(../img/body.png);
/*
    background:url(../img/yt.png);
    background:#333;
    background:#808080;
    background:#454547;
*/
}

#content {
    width: 920px;
    height:auto;
    min-height:600px;
    padding: 20px;
    margin: 30px auto 30px;;
    background:#fff;

    webkit-box-shadow:0 0 18px rgba(0,0,0,0.4);
    moz-box-shadow:0 0 18px rgba(0,0,0,0.4);
    box-shadow:0 0 18px rgba(0,0,0,0.4);
}

#content h2 {color: #3072b3; border-bottom:1px solid #ddd; padding:0 15px 8px 5px; margin:25px 0 25px; width:auto; font-weight:lighter;}
#content h2 a { padding-left:27px; }
#content h2 a.pdf       { background:url('../img/icon/16x16/pdf2.png') no-repeat left; padding-left:20px; }
#content h2 a.edit      { background:url('../img/icon/24x24/edit.png') no-repeat left; }
#content h2 a.case      { background:url('../img/icon/24x24/clock.png') no-repeat left; }
#content h2 a.continue  { background:url('../img/icon/16x16/continue.png') no-repeat left; padding-left:20px;}
#content h2 a.start-case{ background:url('../img/icon/16x16/clock.png') no-repeat left; }
#content .page { width: 800px; min-height:400px; }

#sidebar { margin-top: -20px; width:90px; min-height:100px; float:right; font-size:11px; background:#fff;}
#sidebar-image { background: #fff url(../img/icon/64x64/surgeon.png) no-repeat center; height:64px; margin-top:20px;}
#sidebar span { float:left; width:90px; text-align:center; }
#sidebar span.mod { margin-top:5px; font-weight:bold}

#sidebar ul { height:auto; width:90px; float:right; padding:5px; margin-right:-5px;
    -webkit-box-shadow:0 2px 2px rgba(0,0,0,0.2); -moz-box-shadow:0 2px 2px rgba(0,0,0,0.2); box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);}
#sidebar li { list-style-type:none; margin-bottom:15px; text-align:center; padding:0 auto; }
#sidebar li a { display:block; padding-top:46px; margin-top:0px; }
#sidebar li.edit a  { background:url(../img/icon/48x48/edit.png) no-repeat top center;;}
#sidebar li.anket a { background:url(../img/icon/48x48/chart_pie.png) no-repeat top center;;}
#sidebar li.css a   { background:url(../img/icon/48x48/promotion.png) no-repeat top center;;}
#sidebar li.dal a   { background:url(../img/icon/48x48/comments.png) no-repeat top center;;}

#sidebar li.per a   { background:url(../img/icon/48x48/edit_business_user.png) no-repeat top center;;}
#sidebar li.case a  { background:url(../img/icon/48x48/clock.png) no-repeat top center;;}
#sidebar li.exam a  { background:url(../img/icon/48x48/book.png) no-repeat top center;;}
#sidebar li.bar a   { background:url(../img/icon/48x48/office_folders.png) no-repeat top center;;}
#sidebar li.baz a   { background:url(../img/icon/48x48/chart.png) no-repeat top center;;}


a {color: #3072b3; cursor: pointer; -moz-outline-style: none; text-decoration:none}
.error, .success, .warning { color:#872020; margin: 0 20px;}

select { font:13px Arial,Helvetica,sans-serif;border:1px solid #bdc7d8;padding:3px;background:#fff;height:27px;color:#585858; }
table { font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif; }
tr, td, th {text-align:left;}

textarea,
input[type=text]{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 4px 6px;
    margin: 0;
    font-size: 13px;
    color: #555;
    border: 1px solid #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

input[type=text]:focus {outline: 0; border: 1px solid #35addf;}

h2 a {float:right;}
h2 img {float:left; margin-top:-2px; margin-right:2px;}

.module {background: none repeat scroll 0 0 #EEEEEE; border-radius:0px 0px 0px 0px; margin:0 0 10px; padding:4px;}

.left {float:left;}
.right {float:right;}
.line{border:none;border-bottom:1px solid #ddd;}


/* ------------- wrapper - header ------------------------- */
div#wrapper { clear:left; border-top:4px solid #3072b3;}
div#wrapper div#container {position:relative;width:960px;padding:0;font-size:11px;position:relative;height:25px;margin:0 auto 16px}

div#wrapper p#header-notice {float:left; display: block; padding: 7px 0 10px; margin: 10px 0 -20px 20px;
    font-size: 17px; line-height: 15px; font-weight: bold; letter-spacing: -1px; color: #222; }

ul.tabs { float:right; margin:0; }
ul.tabs li { display:block; float:left;}
ul.tabs li a { color:#333; display:block; font-weight:bold; cursor:pointer; margin:9px 10px 0 -1px; padding:2px 6px 11px 15px; }

ul.tabs li a:hover {
    background:#3072b3;
    color:#fff;
    border:0;
    margin:0;
    z-index:2;
    padding: 11px 15px;
    position:relative;
    text-shadow:0 -1px 1px rgba(0,0,0,.25);
    -webkit-border-bottom-radius:3px;
    -moz-border-radius:0 0 3px 3px;
    border-radius:0 0 3px 3px;
}

/* ------------------------------------------------------- */


/* ------------------------ custom table form ----------------------------- */
table.custom { width:750px; margin:50px auto 10px; border-spacing: 5px; border-collapse: separate; }
table.custom th,
table.custom td { padding: 3px; font-size: 12px; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; }

table.custom textarea {height:120px;}
table.custom textarea,
table.custom input[type=text],
table.custom input[type=password]{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 8px;
    margin: 0;
    font-size: 13px;
    color: #555;
    width: 585px;
    border: 1px solid #ccc;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

table.custom select {
    border:1px solid #bdc7d8;
    font:   13px Arial, Helvetica, sans-serif;
    padding:3px;
    padding-top:5px;
    background:#fff;
    width:  368px;
    height: 30px;
    color:  #585858;
}

table.custom input[type=text]:focus,
table.custom input[type=password]:focus { outline: 0; }

table.custom td.label {
    text-align: right;
    vertical-align: top;
    color: #333;
    width: 150px;
    font-weight: bold;
    font-size: 11px;
    border-top: 1px solid #ddd;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    padding-top:7px;
}

table.custom td.field { width: 600px; background: #ededed; }
table.custom td.field span { float:left; margin:4px; }

/* -------------------------------------------------------------------- */


/* ------------------------ label.label custom ----------------------------- */
label.label {
    color: #333;
    width: auto;
    height: auto;
    padding: 3px;
    margin:10px 0;
    background: #ededed;
    display: inline-block;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

label.label textarea {width:880px;height:120px;}
label.label textarea,
label.label input[type=text],
label.label input[type=password]{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 8px;
    margin: 0;
    font-size: 13px;
    color: #555;
    min-width:370px;
    border: 1px solid #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

label.label select {
    border:1px solid #bdc7d8;
    font:   13px Arial, Helvetica, sans-serif;
    padding:3px;
    padding-top:5px;
    background:#fff;
    width:  352px;
    height: 30px;
    color:  #585858;
}

label.label input[type=text]:focus,
label.label input[type=password]:focus { outline: 0; }

/* -------------------------------------------------------------------- */


/* ------------------ Footer -------------------- */
#footer { width: 960px; margin: 0 auto; border-top: 1px solid #ddd; padding: 10px 0 18px; clear: both; position: relative;}
#footer p.copyright { margin: 0; width:440px;}

#footer ul { float: right; height: 27px; margin: -2px -12px 0 0; }
#footer ul li { display: inline;}
#footer ul li a,
#site-info ul li a:visited { float: left; width: auto; margin: 0; padding: 2px 12px 2px; color: #777; text-decoration:none;}

/* ---------------------------------------------- */


#button-user,
#button-link,
#button-preview,
#button-edit,
#button-refresh,
#button-delete { background:url(/public/img/icon/24x24/search.png) no-repeat center; width:24px; height:24px;
                 border:none; cursor:pointer; float:left; margin-right:10px; }
#button-link   { background:url(/public/img/icon/24x24/link.png) no-repeat center; margin-right:0px;}
#button-edit   { background:url(/public/img/icon/24x24/edit.png) no-repeat center; }
#button-user   { background:url(/public/img/icon/24x24/female_male_users.png) no-repeat center; }
#button-delete { background:url(/public/img/icon/24x24/delete.png) no-repeat center; margin-right:0px; }
#button-refresh{ background:url(/public/img/icon/24x24/refresh.png) no-repeat center; margin-right:0px; }

.question { width:100%; font-weight: bold;color: #3072b3; font-size:13px; margin-bottom:20px; padding-bottom:5px; border-bottom:1px solid #ddd; padding-left:5px; }
.answer { width:100%; float:left; padding-left:20px; padding-top:1px; margin-bottom:10px;
          background:url(/public/img/icon/16x16/turquoise_button.png) no-repeat;}

/* clist <-> vtip */
p#vtip { display: none; position: absolute; padding: 10px; font-size: 11px; z-index: 9999;
         max-width:400px; border: 3px solid #eee; background: #fff; color: #3072b3;}
p#vtip #vtipArrow { position: absolute; top: -10px; left: 5px }


